!cmd/*
!infra/*
*.egg-info
*.env
*.exe
*.pem
vvgo-*
.idea
.mypy_cache/
.venv/
__pycache__
__uploader.out
data/statik
info.go
node_modules
public/npm
.vvgo-config.json
.google_api_credentials.json
.run
hello.lua
