@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(15, 10, 24);
    color: #E9E9E9;
}

.title {
    text-align: center;
    font-weight: bold;
}

.top-nav {
    margin-top: 15px;
    background-color: rgba(71, 54, 80, 0.57);
}

.bg-green {
    background-color: rgba(14, 57, 5, 0.62);
}

.bg-terminal {
    background-color: rgba(71, 54, 80, 0.57);
}

.bg-black {
    background-color: #000000;
}

.bg-vvgo-purple {
    background-color: #8C17D9;
}

.bg-discord-blue {
    background-color: #7289DA;
}

.bg-facebook-blue {
    background-color: #1877F2;
}

.thick-border {
    border-style: solid;
    border-width: thick;
}

.project-iframe-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.project-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clickable {
    text-decoration: underline;
}
