.parts-table {
    border: none;
    margin: 10px auto;
    padding: 15px 15px;
    width: 60em;
    background-color: rgb(42, 34, 46);
    border-radius: 10px;
}

.part-number-col {
    width: 70px;
}
