body {
    background-color: rgba(32, 25, 36, 1);
    color: #E9E9E9;
}

.logo-main {
    display: block;
    margin: 20px auto;
    width: 30%;
    height: 30%;
}

.logo-small {
    display: block;
    margin: 20px auto;
    width: 20%;
    height: 20%;
}

.title {
    text-align: center;
    font-family: sans-serif, serif;
    font-weight: bold;
}

.top-nav {
    margin-top: 15px;
    background-color: rgba(71, 54, 80, 0.57);
}
