body {
    background-color: rgba(12, 2, 12, 0.95);
    color: #E9E9E9;
}

.title {
    text-align: center;
    font-family: sans-serif, serif;
    font-weight: bold;
}

.top-nav {
    margin-top: 15px;
    background-color: rgba(71, 54, 80, 0.57);
}

.bg-green {
    background-color: rgba(14, 57, 5, 0.62);
}

.bg-terminal {
    background-color: rgba(71, 54, 80, 0.57);
}

.bg-black {
    background-color: #000000;
}

.bg-vvgo-purple {
    background-color: #8C17D9;
}

.bg-discord-blue {
    background-color: #7289DA;
}

.bg-solid-snake {
    background-image: url('/images/snake-eater-banner-solid-snake.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-rathalos {
    background-image: url('/images/Site_Background-_Rathalos_Tile.png');
    background-repeat: repeat-y;
    background-position: right;
}

.thick-border {
    border-style: solid;
    border-width: thick;
}

a:hover {
    text-decoration-color: #1e7e34;
}
