body {
    background-color: rgba(32, 25, 36, 1);
    color: #E9E9E9;
}

.logo-main {
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 90%;
}

.logo-small {
    display: block;
    margin: 20px auto;
    width: 20%;
    height: 20%;
}

.title {
    text-align: center;
    font-family: sans-serif, serif;
    font-weight: bold;
}

.top-nav {
    margin-top: 15px;
    background-color: rgba(71, 54, 80, 0.57);
}

.bg-green {
    background-color: rgba(14, 57, 5, 0.62);
}

.bg-terminal {
    background-color: rgba(71, 54, 80, 0.57);
}

.thick-border {
    border-style: solid;
    border-width: thick;
}
