<!doctype html>
<html lang="en">

<head>
    <title>Projects</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}
</head>

<body>
{{ template "navbar.gohtml" }}
<main role="main">
    <div class="container">
        <div class="row row-cols-1 mt-2">
            <div class="col">
                <h1 class="title">Projects</h1>
            </div>
            <div class="col text-center">
                <p>
                    If you would like to join our orchestra or get more information about our current projects,
                    please join us on <a href="https://discord.gg/9RVUJMQ">Discord!</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm mt-2 text-center">
                <h3>Open for Submissions</h3>
                <table class="table text-light clickable">
                    {{- range projects.Current.Released }}
                        <tr>
                            <td>
                                <a href="{{ .PartsPage }}" class="text-light">
                                    {{ .Title }}<br/><small>{{ .Sources }}</small>
                                </a>
                            </td>
                        </tr>
                    {{- end }}
                </table>
            </div>
            <div class="col-sm mt-2 text-center">
                <h3>Post-Production</h3>
                <table class="table text-light">
                    {{- range projects.Archived.NotReleasedYoutube }}
                        <tr>
                            <td>
                                <i class="text-light">{{ .Title }}<br/><small>{{ .Sources }}</small></i>
                            </td>
                        </tr>
                    {{ end }}
                </table>
            </div>
            <div class="col-sm mt-2 text-center">
                <h3>Released</h3>
                <table class="table text-light clickable">
                    <tbody>
                    {{- range projects.ReleasedYoutube.ReverseSort }}
                        <tr>
                            <td>
                                <a href="{{ .ProjectPage }}" class="text-light">
                                    {{ .Title }}<br/><small>{{ .Sources }}</small>
                                </a>
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
