<!doctype html>
<html lang="en">

<head>
    {{ template "header.gohtml" }}
    <title>Projects</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <script type="text/javascript" src="/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="/js/archive/index.js"></script>
</head>

<body>
{{ template "navbar.gohtml" }}
<main role="main">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto mt-2 text-center">
                <h1>Releases</h1>
                <table id="project_index" class="table table-responsive text-light">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Archived</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range projects }}
                        {{ if .YoutubeLink }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Archived }}</td>
                            <td>
                                <a href="/projects/{{ .Name }}"class="text-light">
                                        {{ .Title }}<br/><small>{{ .Sources}}</small></a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                    {{- end }}
                </table>
            </div>
                
            <div class="col-md-auto mt-2 text-center">    
                <h1>Open for Submissions</h1>
                <p>
                    If you would like to join our orchestra or get more information about our current projects,
                    please join us on <a href="https://discord.gg/9RVUJMQ">Discord!</a>
                </p>
                <table id="project_index" class="table table-responsive text-light">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Archived</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range projects }}
                        {{ if .Released }}
                        {{ if not .Archived }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Archived }}</td>
                            <td>
                                <div class="text-light">
                                        {{ .Title }}<br/><small>{{ .Sources}}</small>
                                    </div>
                            </td>
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                    {{- end }}
                </table>
            </div>
            
            <div class="col-md-auto mt-2 text-center">
                <h1>Post-Production</h1>
                <table id="project_index" class="table table-responsive text-light">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Archived</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range projects }}
                        {{ if .Archived }}
                        {{ if not .YoutubeLink }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Archived }}</td>
                            <td>
                                <div class="text-light">
                                        {{ .Title }}<br/><small>{{ .Sources}}</small>
                                    </div>
                            </td>
                        </tr>
                        {{ end }}
                        {{ end }}
                    </tbody>
                    {{- end }}
                </table>
            </div>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
