<!doctype html>
<html lang="en">

<head>
    <title>About</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}
    <script type="text/javascript" src="/js/about.js"></script>
</head>

<body>
{{ template "navbar.gohtml" }}
<main role="main">
    <div class="container">
        <div class="row mt-4 border-bottom border-light">
            <div class="col col-lg-3 col-12 text-justify">
                <h2 class="text-center">About Us</h2>
            </div>
            <div class="col col-lg-9 col-12 text-justify fs-6">
                <p class="">
                    Formed in March 2020, <strong>Virtual Video Game Orchestra</strong> (VVGO, "vee-vee-go") is an
                    online
                    volunteer-run music ensemble predicated on providing a musical performance outlet for musicians
                    whose
                    IRL rehearsals and performances were cancelled due to COVID-19. Led and organized by members from
                    various video game ensembles, and with a community of hundreds of musicians from across the globe,
                    VVGO is open to any who wish to participate regardless of instrument, skill level, or musical
                    background.
                </p>
                <p class="">
                    Our mission is to provide a fun and accessible virtual community of musicians from around the world
                    through performing video game music.
                </p>
                <p class="">
                    We are always accepting new members into our community. If you would like to join our orchestra or
                    get more information about our current performace opportunities, please join us on
                    <a href="https://discord.gg/9RVUJMQ" class="text-info">Discord</a>!
                </p>
            </div>
        </div>
        <div class="row mt-3 border-bottom border-light">
            <div class="col col-lg-3 col-12 text-center">
                <h2>VVGO Leadership</h2>
            </div>
            <div class="col col-lg-9 col-12 text-center mt-2">
                <table id="leader-table" class="table table-responsive table-borderless text-light fs-6">
                    <!--- javascript --->
                </table>
            </div>
        </div>
        {{ $wantTeams := form_value "teams" }}
        {{ if eq $wantTeams "1"  }}
            {{ if user_is_leader }}
                <div class="row mt-3 border-bottom border-light">
                    <div class="col col-lg-3 col-12 text-center">
                        <h2>VVGO Production Team</h2>
                    </div>
                    <div class="col col-lg-9 col-12 text-center mt-2">
                        <table id="aboutme-table" class="table table-borderless text-light fs-6">
                            <!--- javascript --->
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col col-lg-3 col-12 text-center">
                        <h2>Affiliations</h2>
                    </div>
                    <div class="col col-lg-9 col-12 text-center mt-2">
                        <ul id="affiliations-ul">
                            <!--- javascript --->
                        </ul>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
