<!doctype html>
<html lang="en">

<head>
    {{ template "header.gohtml" }}
    <title>Credits Maker</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/css/credits-maker.css">

    <script type="text/javascript" src="/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="/js/credits-maker.js"></script>
</head>

<body>
{{ template "navbar.gohtml" }}
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col mt-1">
                <form>
                    <div class="form-group">
                        <label for="spreadsheetID">Spreadsheet ID
                            <small id="spreadsheetIDHelp" class="form-text text-muted">
                                <a href="https://developers.google.com/sheets/api/guides/concepts#spreadsheet_id">Help</a>
                            </small>
                        </label>
                        <input type="text" class="form-control" id="spreadsheetID" name="spreadsheetID"
                               value="{{ .SpreadsheetID}}">
                    </div>
                    <div class="form-group">
                        <label for="readRange">Read Range
                            <small id="readRangeHelp" class="form-text text-muted">
                                <a href="https://developers.google.com/sheets/api/samples/reading">Help</a>
                            </small>
                        </label>
                        <input type="text" class="form-control" id="readRange" name="readRange"
                               value="{{ .ReadRange }}">
                    </div>
                    <div class="form-group">
                        <label for="project">Project</label>
                        <input type="text" class="form-control" id="project" name="project"
                               value="{{ .Project }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {{ if .ErrorMessage }}
            <div class="row">
                <div class="col text-warning">
                    <code>{{ .ErrorMessage }}</code>
                </div>
            </div>
        {{ end }}
        <div class="row"><div class="col mt-4"><h2 class="text-center">~ Results ~</h2></div></div>
        <div class="row row-cols-1">
            <div class="col mt-4"><h3 class="text-center">Website Pasta</h3></div>
            <div class="col">
                <textarea readonly id="websitePasta" rows="20" wrap="soft"
                          class="text-monospace form-control form-control-lg">{{ .WebsitePasta }}</textarea>
            </div>
            <div class="col">
                <button class="btn btn-secondary" onclick="copyPasta('websitePasta')">Copy text</button>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col mt-4"><h3 class="text-center">Video Pasta</h3></div>
            <div class="col">
                <textarea readonly id="videoPasta" rows="20" wrap="soft"
                          class="text-monospace form-control form-control-lg">{{ .VideoPasta }}</textarea>
            </div>
            <div class="col">
                <button class="btn btn-secondary" onclick="copyPasta('videoPasta')">Copy text</button>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col mt-4"><h3 class="text-center">Youtube Pasta</h3></div>
            <div class="col">
                <textarea readonly id="youtubePasta" rows="20" wrap="soft"
                          class="text-monospace form-control form-control-lg">{{ .YoutubePasta }}</textarea>
            </div>
            <div class="col">
                <button class="btn btn-secondary" onclick="copyPasta('youtubePasta')">Copy text</button>
            </div>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
