<!doctype html>
<html lang="en">

<head>
    <title>Feature</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}
    <script type="text/javascript" src="dist/feature.js"></script>
</head>
<body>
<main role="main">
    <div id="reactDom"></div>
</main>
<script type="text/javascript">Feature.Render('#reactDom')</script>
</body>
</html>
