<!doctype html>
<html lang="en">

<head>
    {{ .Header }}
    <title>Virtual Video Game Orchestra</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">

    <script type="text/javascript" src="npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
</head>
<body>
{{ .NavBar }}
<div class="mt-2 container bg-transparent">
    <div class="row">
        <div class="col bg-solid-snake border rounded m-2">
            <a href="https://www.youtube.com/channel/UCeipEtsfjAA_8ATsd7SNAaQ" class="btn btn-link nav-link">
                <img src="images/snake-eater-banner-text.png" class="img-fluid mx-auto">
            </a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg border rounded text-center m-2">
            <img src="images/logo.svg" class="btn img-fluid">
            <a href="https://www.facebook.com/groups/1080154885682377/" class="btn btn-link text-center">
                <h1>Join our facebook group!</h1>
            </a>
        </div>
    </div>
</div>
</body>
</html>
