<!doctype html>
<html lang="en">

<head>
    <title>Virtual Video Game Orchestra</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}
</head>
<body class="">
{{ template "navbar.gohtml" }}

<div class="mt-2 container">
    {{ $latest_release := projects.ReleasedYoutube.Sort.Last }}
    <div class="row row-cols-1 justify-content-md-center text-center m-2">
        <div class="col">
            <a href="{{ $latest_release.YoutubeLink }}" class="btn btn-link nav-link">
                <img src="{{ $latest_release.BannerLink }}" class="mx-auto img-fluid" alt="banner">
            </a>
        </div>

        {{ if $latest_release.YoutubeEmbed }}
            <div class="col project-iframe-wrapper text-center m-2">
                <iframe class="project-iframe" src="{{ $latest_release.YoutubeEmbed }}"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        {{ end }}
    </div>
    <div class="row justify-content-md-center text-center m-2">
        <div class="col text-center mt-2">
            <p>
                If you would like to join our orchestra or get more information about our current projects,
                please join us on <a href="https://discord.gg/9RVUJMQ">Discord!</a>
            </p>
        </div>
    </div>
</div>
{{ template "footer.gohtml" }}
</body>
</html>
