<!doctype html>
<html lang="en">

<head>
    <title>Virtual Video Game Orchestra</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}

    <script type="text/javascript" src="dist/index.js"></script>
</head>
<body class="">
{{ template "navbar.gohtml" }}

<main role="main">
    <div id="reactDom"></div>
</main>
<script type="text/javascript">Bundle.Render('#reactDom')</script>

{{ template "footer.gohtml" }}
</body>
</html>
