<!doctype html>
<html lang="en">

<head>
    {{ template "header.gohtml" }}
    <title>Leaders</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <script type="text/javascript" src="/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="/js/archive/index.js"></script>
</head>

<body>
{{ template "navbar.gohtml" }}
<main role="main">
    <div class="container">
        <div class="row mt-4">
            <div class="col text-center"><h1>VVGO Leadership</h1></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-md-auto mt-4 text-center">
                <table class="table table-bordered table-responsive text-light">
                    <tbody>
                    {{- range .Leaders }}
                        <tr>
                            <td><img src="{{.Icon}}" alt="{{.Name}}" height="125"></td>
                            <td>
                                {{ if .Email }}
                                    <a class="text-light" href="mailto: {{ .Email }}">
                                        {{ .Name }}
                                        <br/><small>{{.Epithet}}</small>
                                    </a>
                                {{ else }}
                                    <p class="text-light">
                                        {{ .Name }}
                                        <br/><small>{{.Epithet}}</small>
                                    </p>
                                {{ end }}
                            </td>
                            <td>
                                <p>{{ .Blurb }}</p>
                                <p><i>{{ .Affiliations }}</i></p>
                            </td>
                        </tr>
                    {{- end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
