<!doctype html>
<html lang="en">

<head>
    <title>Virtual Video Game Orchestra</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}

    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script type="text/javascript" src="/js/login.js"></script>
</head>

<body class="text-center">
{{ template "navbar.gohtml" }}
<div class="form-signin">
    <!--suppress HtmlUnknownTarget -->
    <form id="signinForm">
        <img class="mb-4 mt-4" src="images/logo.svg" alt="" width="100%">
        <div>
            <label for="inputUser" class="sr-only">VVGO User</label>
            <input name="user" type="text" id="inputUser" class="form-control" placeholder="user" required autofocus>
        </div>

        <div class="mt-1">
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="pass" type="password" id="inputPassword" class="form-control" placeholder="password" required>
        </div>
        <div id="invalidAuth" class="m-2 text-warning d-none">Invalid user or password 😔 </div>
        <button id="signinButton" class="btn btn-lg btn-block bg-vvgo-purple text-light" type="submit">Sign in</button>
    </form>
    <!--suppress HtmlUnknownTarget -->
    <a class="mt-1 btn btn-lg btn-block bg-discord-blue text-light" href="/login/discord">
        Sign in with Discord
    </a>
</div>
</body>
{{ template "footer.gohtml" }}
</html>
