<!doctype html>
<html lang="en">

<head>
    {{ .Header }}
    <title>Virtual Video Game Orchestra</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">

    <script type="text/javascript" src="npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="npm/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
</head>


<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>


<body class="text-center">
{{ .NavBar }}
<form class="form-signin" action="/login/password" method="post">
    <img class="mb-4 mt-4" src="images/logo.svg" alt="" width="100%">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div>
        <label for="inputUser" class="sr-only">VVGO User</label>
        <input name="user" type="text" id="inputUser" class="form-control" placeholder="vvgo user" required autofocus>
    </div>

    <div class="mt-1">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pass" type="password" id="inputPassword" class="form-control" placeholder="password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
