<!doctype html>
<html lang="en">

<head>
    <title>Virtual Video Game Orchestra</title>
    <meta name="description" content="">
    <meta http-equiv="refresh" content='1;url="/login/redirect"'>
    {{ template "header.gohtml" }}

    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
{{ template "navbar.gohtml" }}
<div class="mt-4 container">
    <div class="row-cols-1">
        <h1>Success!</h1>
        <h2><a href="/login/redirect" class="btn btn-link text-light">Continue to parts...</a></h2>
    </div>
</div>
</body>
{{ template "footer.gohtml" }}
</html>
