<!doctype html>
<html lang="en">

<head>
    <title>{{.Title}}</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}

</head>
<body class="">
{{ template "navbar.gohtml" }}

<main role="main">
    <div id="entrypoint">
        {{ .Content }}
    </div>
</main>

{{ if .JsSource }}
    <script type="text/javascript" src="{{.JsSource}}"></script>
{{ end }}

{{ template "footer.gohtml" }}
</body>
</html>
