<!doctype html>
<html lang="en">

<head>
    {{ template "header.gohtml" }}
    <title>Parts</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <script type="text/javascript" src="/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="/js/parts.js"></script>
</head>

<body>
{{ template "navbar.gohtml" .NavBar }}
<main role="main">
    <div class="container parts-table">
        <div class="bg-terminal p-3 border rounded-sm mt-4">
            <h1 class="title text-monospace mb-3">~ Parts ~</h1>
            <h4 class="text-center mb-3"><em><strong>Submission Deadline:</strong>
                    Sunday, Jun 14, 2020 at 11:59 PM (Hawaii Time)</em></h4>
            <div class="row mb-3">
                <div class="col-sm text-center">
                    <a class="btn btn-lnk btn-outline-light text-info" href="https://discord.gg/9RVUJMQ">
                        <i class="fab fa-discord"></i>
                        Member Discord
                    </a>
                </div>
                <div class="col-sm text-center">
                    <a class="btn btn-lnk btn-outline-light text-info"
                       href="https://www.youtube.com/watch?v=VgqtZ30bMgM">
                        <i class="fab fa-youtube"></i>
                        Recording Instructions
                    </a>
                </div>
                <div class="col-sm text-center">
                    <a class="btn btn-lnk btn-outline-light text-info"
                       href="https://tinyurl.com/VVGO-Submit">
                        <i class="fab fa-dropbox"></i>
                        Submit Recordings
                    </a>
                </div>
            </div>
            <table id="parts" class="table text-light">
                <thead>
                <tr>
                    <th>Project</th>
                    <th>Part</th>
                    <th>Downloads</th>
                </tr>
                </thead>
                <tbody>
                {{- range .Rows}}
                    <tr>
                        <td class="title">{{.Project}}</td>
                        <td class="title">{{.PartName}}</td>
                        <td>
                            <a href="{{.SheetMusic}}"
                               class="btn btn-sm btn-link btn-outline-light bg-dark text-light text-monospace">
                                sheet music <i class="far fa-file-pdf"></i>
                            </a>
                            <a href="{{.ClickTrack}}"
                               class="btn btn-sm btn-link btn-outline-light bg-dark text-light text-monospace">
                                click track <i class="far fa-file-audio"></i>
                            </a>
                            <a href="{{.ReferenceTrack}}"
                               class="btn btn-sm btn-link btn-outline-light bg-dark text-light text-monospace">
                                reference track <i class="far fa-file-audio"></i>
                            </a>
                        </td>
                    </tr>
                {{- end }}
                </tbody>
            </table>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
