<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Virtual Video Game Orchestra">
    <meta name="generator" content="Jekyll v3.8.6">

    <title>Virtual Video Game Orchestra</title>

    <link rel="icon" href="images/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/sheets.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/sheets.js"></script>
</head>

<body>
<div><a href="https://vvgo.org/"><img src="images/logo.svg" alt="logo" class="logo-tiny"></a></div>
<h1 class="title">Sheets</h1>
<div class="sheets-table">
    <table id="sheets" class="hover row-border order-column">
        <thead>
        <tr>
            <th>Project</th>
            <th>Part Name</th>
            <th>Part Number</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
        {{- range .}}
            <tr>
                <td>{{.Sheet.Project}}</td>
                <td>{{.Sheet.PartName}}</td>
                <td>{{.Sheet.PartNumber}}</td>
                <td><a href="{{.Link}}" class="download-link">&raquo; download &laquo;</a></td>
            </tr>
        {{- end }}
        </tbody>
    </table>
</div>
</body>
</html>
