<!doctype html>
<html lang="en">

<head>
    <title>Votabulatron 5000 | Submit Ballot</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}
    <script type="text/javascript" src="/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/voting.js"></script>
</head>

<style>
    .vote {
        cursor: grab;
        text-align: left;
        padding-right: 10px;
        padding-left: 10px;
        border-color: #8C17D9;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        min-width: 200px;
    }
</style>

<body class="">
{{ template "navbar.gohtml" }}

<div class="mt-2 container">
    <div class="row row-cols-1 justify-content-center">
        <div class="col col-md-auto text-light text-center">
            <h1>Ballot</h1>
            <h4>Choices:</h4>
            <ol id="sortable" style="width: 500px;">
                {{range .}}
                    <li class="vote">{{.}}</li>
                {{end}}
            </ol>
            <button type="submit" class="btn bg-vvgo-purple text-light" onclick="submitVote()">Submit</button>
        </div>
        <div class="col">
            <p id="voteSubmitted" class="text-info text-center d-none mt-3">Vote submitted! Feel free to resubmit.
                Results are <a href="/voting/results">here.</a></p>
        </div>
    </div>
</div>
</div>
{{ template "footer.gohtml" }}
</body>
</html>
