<!doctype html>
<html lang="en">

<head>
    <title>Votabulatron 5000</title>
    <meta name="description" content="">
    {{ template "header.gohtml" }}
    <script type="text/javascript" src="js/voting.js"></script>
</head>

<body class="">
{{ template "navbar.gohtml" }}

<div class="mt-2 container">
    <div class="row justify-content-center">
        <div class="col col-md-auto text-light text-center">
            <h1>Ballot</h1>
            <h4>Choices</h4>
            <ul>
                <li>
                    <div id="choice-mario" draggable="true" class="btn-sm btn-secondary draggable dropzone">
                        Mario
                    </div>
                </li>
                <li>
                    <div id="choice-zelda" draggable="true" class="btn-sm btn-secondary draggable dropzone">
                        Zelda
                    </div>
                </li>
                <li>
                    <div id="choice-animal-crossing" draggable="true" class="btn-sm btn-secondary draggable dropzone">
                        Animal Crossing
                    </div>
                </li>
            </ul>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
{{ template "footer.gohtml" }}
</body>
</html>
