<!doctype html>
<html lang="en">

<head>
    {{ template "header.gohtml" }}
    <title>Projects</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <script type="text/javascript" src="/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="/js/archive/index.js"></script>
</head>

<body>
{{ template "navbar.gohtml" .NavBar }}
<main role="main">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto mt-2 text-center">
                <h1>Projects</h1>
                <table id="project_index" class="table table-responsive text-light">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Archived</th>
                        <th>Title</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range .Rows }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Archived }}</td>
                            <td>
                                {{ if .YoutubeLink }}
                                    <a href="/archive/{{ .Name }}"
                                       class="{{ if .Released }}text-light{{ else }}text-warning{{ end }}">
                                        {{ .Title }}<br/><small>{{ .Sources}}</small></a>
                                {{ else }}
                                    <div class="{{ if .Released }}text-light{{ else }}text-warning{{ end }}">
                                        {{ .Title }}<br/><small>{{ .Sources}}</small>
                                    </div>
                                {{ end }}
                            </td>
                            <td>{{ if .YoutubeLink }}Completed{{ else if .Archived}}Post Production{{ else if .Released }}Open for Submissions{{ else }}Unreleased{{ end }}</td>
                        </tr>
                    {{- end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
