<!doctype html>
<html lang="en">

<head>
    {{ template "header.gohtml" }}
    <title>{{ .Project.Title }}</title>
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/npm/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">

    <script type="text/javascript" src="/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/npm/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
    <script type="text/javascript" src="/js/archive/project.js"></script>
</head>

<body>
{{ template "navbar.gohtml" .NavBar }}
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col m-3 text-center">
                {{ if .Project.BannerLink }}
                    <a href="{{ if .Project.YoutubeLink }}{{ .Project.YoutubeLink }}{{ else }}#{{ end }}">
                        <img src="{{ .Project.BannerLink }}" class="img-fluid mx-auto" alt="Banner">
                    </a>
                {{ else }}
                    <h1 class="title">{{ .Project.Title }}</h1>
                    <h2>{{ .Project.Sources }}</h2>

                {{ end }}
            </div>
        </div>
        {{ if .Project.YoutubeEmbed }}
            <div class="row">
                <div class="col m-2 project-iframe-wrapper">
                    <iframe class="project-iframe" src="{{ .Project.YoutubeEmbed }}"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        {{ end }}
        {{ if .Project.Archived }}
        {{ else }}
            <div class="row">
                <div class="col">
                    <h4 class="text-center mb-3"><strong>Submission Deadline:</strong>
                        <em>{{ .Project.SubmissionDeadline }} (Hawaii Time)</em></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm text-center">
                    <a class="btn btn-lnk btn-outline-light text-info" href="https://discord.gg/9RVUJMQ">
                        <i class="fab fa-discord"></i>
                        Member Discord
                    </a>
                </div>
                <div class="col-sm text-center">
                    <a class="btn btn-lnk btn-outline-light text-info"
                       href="https://www.youtube.com/watch?v=VgqtZ30bMgM">
                        <i class="fab fa-youtube"></i>
                        Recording Instructions
                    </a>
                </div>
                <div class="col-sm text-center">
                    <a class="btn btn-lnk btn-outline-light text-info"
                       href="{{ .Project.SubmissionLink }}">
                        <i class="fab fa-dropbox"></i>
                        Submit Recordings
                    </a>
                </div>
            </div>
        {{ end }}
        {{ if and .NavBar.ShowMemberLinks .Released }}{{ if not .Archived }}
            <div class="row justify-content-md-center">
                <div class="col-md-auto mt-4">
                    <table id="parts" class="table table-responsive text-light">
                        <thead>
                        <tr>
                            <th>Score Order</th>
                            <th>Part</th>
                            <th>Downloads</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{- range .Rows}}
                            <tr>
                                <td class="text-light">{{.ScoreOrder}}</td>
                                <td class="title">{{.PartName}}</td>
                                <td>
                                    {{ if .SheetMusic }}
                                        <a href="{{.SheetMusic}}"
                                           class="btn btn-sm btn-link btn-outline-light bg-dark text-light">
                                            <i class="far fa-file-pdf"></i> sheet music
                                        </a>
                                    {{ end }}
                                    {{ if .ClickTrack}}
                                        <a href="{{.ClickTrack}}"
                                           class="btn btn-sm btn-link btn-outline-light bg-dark text-light">
                                            <i class="far fa-file-audio"></i> click track
                                        </a>
                                    {{ end }}
                                    {{ if .ReferenceTrack }}
                                        <a href="{{.ReferenceTrack}}"
                                           class="btn btn-sm btn-link btn-outline-light bg-dark text-light">
                                            <i class="far fa-file-audio"></i> reference track
                                        </a>
                                    {{ end }}
                                    {{ if .ConductorVideo }}
                                        <a href="{{.ConductorVideo}}"
                                           class="btn btn-sm btn-link btn-outline-light bg-dark text-light">
                                            <i class="far fa-file-video"></i> conductor video
                                        </a>
                                    {{ end }}
                                    {{ if .PronunciationGuide }}
                                        <a href="{{.PronunciationGuide}}"
                                           class="btn btn-sm btn-link btn-outline-light bg-dark text-light">
                                            <i class="fas fa-language"></i> pronunciation guide
                                        </a>
                                    {{ end }}
                                </td>
                            </tr>
                        {{- end }}
                        </tbody>
                    </table>
                </div>
            </div>
        {{ end }}{{ end }}
        <div class="row">
            <div class="col mt-4">
                <small>Composed by {{ .Project.Composers }}</small><br/>
                <small>{{ .Project.Arrangers }}</small>
            </div>
        </div>
    </div>
</main>
{{ template "footer.gohtml" }}
</body>
</html>
