name: tests
on: push

env:
  GO111MODULE: on

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install shellcheck
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y shellcheck
      - name: Run `shellcheck`
        shell: bash
        run: find . -type f -name \*.sh -exec shellcheck {} +

  gofmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.14.1
      - uses: actions/checkout@v2
      - name: Run `gofmt`
        shell: bash
        run: diff -u <(echo -n) <(gofmt -d -s .)

  go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.14.1
      - uses: actions/checkout@v2
      - name: Ensure `go mod tidy` produces a zero diff
        shell: bash
        run: go generate ./... && go mod tidy && git diff --exit-code; code=$?; git checkout -- .; (exit $code)

  go-vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.14.1
      - uses: actions/checkout@v2
      - name: Cache go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Run `go vet ./...`
        run: go generate ./... && go vet ./...

  go-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.14.1
      - uses: actions/checkout@v2

      - name: Cache go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Run `go test -race ./...`
        run: |
          set -e
          go generate ./...
          go test -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage
        run: bash <(curl -s https://codecov.io/bash)
